@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cubic";
  src: url("./assets/fonts/Cubic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
/* #root {
  font-family: "Press Start 2P", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
.nes-container.with-title > .title {
  background-color: #2b1b2f !important;
  color: #f9a8d4 !important;
} */

#root {
  font-family: "Cubic", "Press Start 2P", system-ui, -apple-system, "Segoe UI", sans-serif;
    image-rendering: pixelated; 
  -webkit-font-smoothing: none;
}

.nes-container.with-title > .title {
  background-color: #2b1b2f !important;
  color: #f9a8d4 !important;
  font-family: "Cubic", "Press Start 2P", sans-serif !important; 
  font-size: 24px !important; 
}