@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  font-family: "Press Start 2P", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
.nes-container.with-title > .title {
  background-color: #2b1b2f !important;
  color: #f9a8d4 !important;
}